 .header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

  .left-section{
    display: flex;
    width: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    flex-shrink: 0;
    
  }
  @media (max-width:600px) {
    .left-section{
      display: flex;
      width:20px;
      padding-left: 10px;
    }
    
  }
  .home-button {
  height: 30px;
  cursor: pointer;
  }
  @media (max-width:600px) {
    .home-button{
      height:20px;
    }
  }


  .home-button:active {
  opacity: 0.8;
  }
  

.middle-section{
  display: flex;
  flex: 1;
  align-items: center;
  margin-left:35px;
  margin-right: 35px;
  max-width: 500px;
  
}
@media (max-width:600px) {
  .middle-section{
    margin-left: 20px;
    margin-right: 20px;
  }
  
}
  .search-bar {
    flex: 1;
    height: 36px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
    border-radius: 2px;
    width:70px;
  }
  @media (max-width:600px) {
    .search-bar{
      display: flex;
      height: 22px;
      width: 150px;
    }
    
  }
  .search-bar::placeholder{
    font-size: 20px;

  }




  

.right-section{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}
@media (max-width:600px) {
  .right-section{
display: flex;
width: 150px;
  }
}

  .subscribe-button {
    height: 30px;
    cursor: pointer;


  }
  @media (max-width:600px) {
    .subscribe-button{
      height: 20px;
    }
    
  }
  .subscribe-button:active {
    opacity: 0.8;
  }
  .instagram-button {

    height: 30px;
    cursor: pointer;

  }
  @media (max-width:600px) {
    .instagram-button{
      height:20px;
    }
  }
  
  .instagram-button:active {
    opacity: 0.8;
  }
  .twitter-button {
    height: 30px;
    cursor: pointer;

  }
  @media (max-width:600px) {
    .twitter-button{
      height:20px;
    }
  }
  .twitter-button:active {
    opacity: 0.8;
  }
  .spotify-button{
    height: 30px;
    cursor: pointer;
  }
  @media (max-width:600px) {
    .spotify-button{
      height:20px;
    }
  }
  .spotify-button:active{
    opacity: 0.8;
  }
  .linkedin-button{
    height: 30px;
    cursor: pointer;
  }
  @media (max-width:600px) {
    .linkedin-button{
      height:20px;
    }
  }
  .linkedin-button:active{
    opacity: 0.8;
  }
